@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  background-image: url('../images/pic.jpg');
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-color: rgb(14, 14, 14);
}