@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  background-image: url("../images/pic.jpg");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-color: rgb(14, 14, 14);
  overflow-x: hidden;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 610px;
    max-width: 610px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 930px;
    max-width: 930px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1140px;
    max-width: 1140px;
  }
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.header {
  position: relative;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 130px;
}
@media screen and (min-width: 568px) {
  .header-logo {
    width: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .header-logo {
    width: 230px;
  }
}

.hero-title {
  color: #dc56c5;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  margin-top: -20px;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 42px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-title {
    font-size: 50px;
  }
}

.hero-div-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 100px;
  padding: 0 15px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .hero-div-input {
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 120px;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero-div-input {
    gap: 50px;
    margin-top: 70px;
    margin-bottom: 170px;
  }
}

.hero-action-element {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0);
  font-weight: 400;
  font-size: 14px;
  padding: 10px 20px;
  outline: none;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  transition: all 300ms ease;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero-action-element {
    font-size: 15px;
    padding: 12px 24px;
    width: auto;
  }
}
@media screen and (min-width: 1280px) {
  .hero-action-element {
    font-size: 16px;
    padding: 12px 32px;
  }
}
.hero-action-element:hover {
  border: 1px solid rgb(188, 188, 188);
}
.hero-action-element::-moz-placeholder {
  color: #939393;
}
.hero-action-element::placeholder {
  color: #939393;
}

.hero-action-element.focus {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid rgb(255, 255, 255);
  border-bottom: none;
}

#heroInputSearch,
#heroBtnCountry {
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 13px 13px;
  height: 40px;
  padding-right: 10px;
}

#heroBtnCountry {
  position: relative;
  background-image: url("../images/svg/Polygon1.svg");
  padding: 0 102px 0 10px;
  color: #939393;
  min-width: 260px;
}

#heroInputSearch {
  background-image: url("../images/svg/searchicon.svg");
}

.countries-block {
  display: none;
  position: absolute;
  top: 100%;
  background-color: transparent;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  color: rgb(222, 222, 222);
  max-height: 300px;
  overflow-y: auto;
  z-index: 10;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  background-color: rgba(79, 79, 79, 0.5176470588);
  border: 1px solid rgb(255, 255, 255);
  border-bottom: 0;
  border-top: 0;
  scrollbar-color: rgb(57, 57, 57) rgba(79, 79, 79, 0.5176470588);
}
@media screen and (min-width: 768px) {
  .countries-block {
    right: 6.2%;
  }
}
@media screen and (min-width: 1024px) {
  .countries-block {
    right: 21.8%;
  }
}
@media screen and (min-width: 1280px) {
  .countries-block {
    right: 25%;
  }
}

.countries-block.is-active {
  display: block;
}

.countries-list-menu li {
  transition: all 300ms ease;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid white;
}
.countries-list-menu li:hover {
  color: rgb(255, 255, 255);
}

.main-events-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 80px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 1100px;
  justify-content: center;
  justify-items: center;
}
@media screen and (min-width: 650px) {
  .main-events-container {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 60px;
         column-gap: 60px;
    row-gap: 58px;
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  .main-events-container {
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 40px;
         column-gap: 40px;
    row-gap: 58px;
  }
}
@media screen and (min-width: 1280px) {
  .main-events-container {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 55px;
    -moz-column-gap: 88px;
         column-gap: 88px;
  }
}
@media screen and (min-width: 1480px) {
  .main-events-container {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 55px;
    -moz-column-gap: 88px;
         column-gap: 88px;
  }
}

.event-element {
  position: relative;
  transition: all 600ms ease;
}
.event-element:hover {
  transform: scale(1.05);
}
.event-element:hover .event-card-background {
  background-color: #dc56c5;
}

.event-card-background {
  position: absolute;
  border: 1px solid #dc56c5;
  height: 183px;
  width: 253px;
  border-radius: 50px 0;
  right: 0%;
  top: -8%;
  z-index: -1;
  box-sizing: border-box;
  transition: background-color 600ms ease;
}
@media screen and (min-width: 460px) {
  .event-card-background {
    right: -1%;
  }
}
@media screen and (min-width: 650px) {
  .event-card-background {
    right: -5%;
  }
}
@media screen and (min-width: 1280px) {
  .event-card-background {
    right: -7%;
  }
}

.event-text-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 8px;
}

.event-image {
  border-radius: 50px 0;
}

.event-name {
  color: #dc56c5;
  font-size: 16px;
  font-weight: 700;
}

.event-time {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.event-area {
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}

.pagination-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 50px;
}

.pagination-btn {
  padding: 10px 15px;
  border: 1px solid #dc56c5;
  background-color: transparent;
  color: #ffffff;
  transition: background-color 300ms ease;
  border-radius: 15px 0;
}
.pagination-btn:hover {
  background-color: #dc56c5;
}
.pagination-btn.active {
  background-color: #dc56c5;
}

.pagination-nav-btn {
  min-width: 100px;
}

.pagination-dots {
  color: #ffffff;
  font-weight: 600;
  padding-top: 20px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4980392157);
  opacity: 1;
  z-index: 11;
  overflow: auto;
  padding: 40px 15px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: auto;
  transform: translate(-50%, -50%);
  width: 85%;
  max-width: 930px;
  padding: 62px 30px;
  background-color: #ffffff;
  max-height: 100%;
  border-radius: 300px 0;
}
@media screen and (max-width: 480px) {
  .modal {
    border-radius: 150px 0;
  }
}
@media screen and (min-width: 1024px) {
  .modal {
    padding: 47px 30px;
  }
}
@media screen and (min-width: 1024px) {
  .modal {
    padding: 47px 30px;
  }
}

.btn-modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 35px;
  height: 35px;
  color: rgb(103, 0, 172);
  border-radius: 50%;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal-close:hover {
  background-color: #0e0e0e;
  color: #dc56c5;
}

.modal-content {
  padding: 10px 15%;
}
@media screen and (max-width: 480px) {
  .modal-content {
    padding: 10px 4%;
  }
}

.modal-event-info-title,
.modal-event-title,
.modal-event-place-name,
.modal-event-time-name,
.modal-event-prices-title {
  font-size: 24px;
  font-weight: 600;
  color: #dc56c5;
  margin-bottom: 4px;
}
@media screen and (max-width: 480px) {
  .modal-event-info-title,
  .modal-event-title,
  .modal-event-place-name,
  .modal-event-time-name,
  .modal-event-prices-title {
    font-size: 20px;
    text-align: center;
  }
}

.modal-event-info,
.modal-location,
.modal-time,
.modal-event-name,
.modal-event-prices {
  font-size: 18px;
  font-weight: 400;
  color: #0e0e0e;
  margin-bottom: 40px;
}
.modal-event-info:nth-of-type(10), .modal-event-info:nth-of-type(11), .modal-event-info:nth-of-type(12),
.modal-location:nth-of-type(10),
.modal-location:nth-of-type(11),
.modal-location:nth-of-type(12),
.modal-time:nth-of-type(10),
.modal-time:nth-of-type(11),
.modal-time:nth-of-type(12),
.modal-event-name:nth-of-type(10),
.modal-event-name:nth-of-type(11),
.modal-event-name:nth-of-type(12),
.modal-event-prices:nth-of-type(10),
.modal-event-prices:nth-of-type(11),
.modal-event-prices:nth-of-type(12) {
  margin-bottom: 7px;
}
@media screen and (max-width: 480px) {
  .modal-event-info,
  .modal-location,
  .modal-time,
  .modal-event-name,
  .modal-event-prices {
    text-align: center;
  }
}

.modal-event-image {
  display: block;
  margin: 15 auto 30px;
  border-radius: 6px;
}
@media screen and (max-width: 480px) {
  .modal-event-image {
    width: 180px;
  }
}

.modal-event-btn-buy {
  background-color: #4c00fe;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-height: 1200px) {
  .modal-prices {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-right: 80px;
  }
}
@media screen and (min-height: 1201px) {
  .modal-prices {
    display: block;
  }
}

.modal-event-prices-compact,
.modal-event-prices {
  margin-bottom: 3px;
}

@media screen and (min-height: 1201px) {
  .price-card:nth-of-type(2) {
    margin: 20px 0;
  }
}
.change-theme-btn {
  height: auto;
  margin: 17px;
  border-radius: 30px;
  padding: 5px 10px;
  margin-top: 24px;
  border: 1px solid rgb(255, 255, 255);
  background-color: transparent;
  color: rgb(255, 255, 255);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  transition: all 300ms ease;
}
.change-theme-btn:hover {
  background-color: #ffffff;
  color: #000000;
}

body.light-theme .change-theme-btn {
  transition: all 300ms ease;
}
body.light-theme .change-theme-btn:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

body.light-theme {
  background-image: url("../images/pic_white-mode.jpg");
  background-color: rgb(240, 240, 240);
  filter: contrast(90%);
}

body.light-theme .change-theme-btn {
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

body.light-theme .hero-action-element {
  background-color: #d6d6d6;
}
body.light-theme .hero-action-element:hover {
  border: 1px solid black;
}
body.light-theme .hero-action-element::-moz-placeholder {
  color: #000000;
}
body.light-theme .hero-action-element::placeholder {
  color: #000000;
}

body.light-theme .hero-action-element.focus {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid rgb(0, 0, 0);
  border-bottom: none;
}

body.light-theme #heroBtnCountry {
  color: #000000;
}

body.light-theme .countries-block {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgba(227, 227, 227, 0.5176470588);
  color: rgb(0, 0, 0);
  scrollbar-color: rgb(221, 221, 221) rgba(79, 79, 79, 0.5176470588);
  border-top: transparent;
}

body.light-theme .countries-list-menu li {
  border-bottom: 1px solid rgb(0, 0, 0);
}

body.light-theme .event-time,
body.light-theme .event-area {
  color: #000000;
}

body.light-theme .pagination-btn {
  color: #000000;
  border: 1px solid rgb(0, 0, 0);
}
body.light-theme .pagination-btn:hover {
  color: rgb(255, 255, 255);
}
body.light-theme .pagination-btn.active {
  background-color: #dc56c5;
  color: rgb(255, 255, 255);
}/*# sourceMappingURL=index.css.map */