.main-events-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 0 8%;
  margin-top: 50px;
}

.event-element {
  position: relative;
}

.event-card-background {
  position: absolute;
  border: 1px solid #dc56c5;
  height: 183px;
  width: 253px;
  border-radius: 50px 0;
  right: 7%;
  top: -8%;
  z-index: -1;
}

.event-text-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 8px;
}

.event-image {
  border-radius: 50px 0;
}

.event-name {
  color: #dc56c5;
  font-size: 16px;
  font-weight: 700;
}

.event-time {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.event-area {
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}

.pagination-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 50px;
}

.pagination-btn {
  padding: 10px 15px;
  border: 1px solid #dc56c5;
  background-color: transparent;
  color: #ffffff;
  transition: background-color 300ms ease;
  border-radius: 15px 0;

  &:hover {
    background-color: #dc56c5;
  }

  &.active {
    background-color: #dc56c5;
  }
}

.pagination-nav-btn {
  min-width: 100px;
}

.pagination-dots {
  color: #ffffff;
  font-weight: 600;
  padding-top: 20px;
}
