.main-events-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 80px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 1100px;
  justify-content: center;
  justify-items: center;

  @media screen and (min-width: 650px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 58px;
    padding: 0;
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 58px;
  }

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 55px;
    column-gap: 88px;
  }

  @media screen and (min-width: 1480px) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 55px;
    column-gap: 88px;
  }
}

.event-element {
  position: relative;
  transition: all 600ms ease;

  &:hover {
    transform: scale(1.05);

    .event-card-background {
      background-color: #dc56c5;
    }
  }
}

.event-card-background {
  position: absolute;
  border: 1px solid #dc56c5;
  height: 183px;
  width: 253px;
  border-radius: 50px 0;
  right: 0%;
  top: -8%;
  z-index: -1;
  box-sizing: border-box;
  transition: background-color 600ms ease;

  @media screen and (min-width: 460px) {
    right: -1%;
  }

  @media screen and (min-width: 650px) {
    right: -5%;
  }

  @media screen and (min-width: 1280px) {
    right: -7%;
  }
}

.event-text-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 8px;
}

.event-image {
  border-radius: 50px 0;
}

.event-name {
  color: #dc56c5;
  font-size: 16px;
  font-weight: 700;
}

.event-time {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.event-area {
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}

.pagination-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 50px;
}

.pagination-btn {
  padding: 10px 15px;
  border: 1px solid #dc56c5;
  background-color: transparent;
  color: #ffffff;
  transition: background-color 300ms ease;
  border-radius: 15px 0;

  &:hover {
    background-color: #dc56c5;
  }

  &.active {
    background-color: #dc56c5;
  }
}

.pagination-nav-btn {
  min-width: 100px;
}

.pagination-dots {
  color: #ffffff;
  font-weight: 600;
  padding-top: 20px;
}