.header {
  position: relative;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 130px;

  @media screen and (min-width: 568px) {
    width: 150px;
  }

  @media screen and (min-width: 1280px) {
    width: 230px;
  }
}