header{
    position: relative;
    height: 80px;
}

.header-logo{
    position: absolute;
    top: -15px;
    left: -15px;
}

.countries-block.is-open {
    display: block;
}

.country-item{
    padding: 5px;
    border: 1px solid black;
}
