.hero-title {
    color: #DC56C5;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}

.hero-div-input{
    display: flex;
    gap: 100px;
    justify-content: center;
    padding-top: 30px;
}

.hero-input{
    border-radius: 20px;
    background-color: #FFFFFF33;
    border: none;
    color: #939393;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 13px;
    backdrop-filter: blur(20px);
}