.hero-title {
  color: #dc56c5;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  margin-top: -20px;

  @media screen and (min-width: 768px) {
    font-size: 42px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 50px;
  }
}

.hero-div-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 100px;
  padding: 0 15px;
  position: relative;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 120px;
    padding: 0;
  }

  @media screen and (min-width: 1280px) {
    gap: 50px;
    margin-top: 70px;
    margin-bottom: 170px;
  }
}

.hero-action-element {
  border-radius: 20px;
  background-color: #ffffff33;
  border: 1px solid rgba(255, 255, 255, 0);
  font-weight: 400;
  font-size: 14px;
  padding: 10px 20px;
  outline: none;
  backdrop-filter: blur(20px);
  transition: all 300ms ease;
  width: 100%;

  @media screen and (min-width: 768px) {
    font-size: 15px;
    padding: 12px 24px;
    width: auto;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    padding: 12px 32px;
  }

  &:hover {
    border: 1px solid rgb(188, 188, 188);
  }

  &::placeholder {
    color: #939393;
  }
}

.hero-action-element.focus {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid rgb(255, 255, 255);
  border-bottom: none;
}

#heroInputSearch,
#heroBtnCountry {
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 13px 13px;
  height: 40px;
  padding-right: 10px;
}

#heroBtnCountry {
  position: relative;
  background-image: url('../images/svg/Polygon1.svg');
  padding: 0 102px 0 10px;
  color: #939393;
  min-width: 260px;
}

#heroInputSearch {
  background-image: url('../images/svg/searchicon.svg');
}

.countries-block {
  display: none;
  position: absolute;
  top: 100%;
  background-color: transparent;
  backdrop-filter: blur(30px);
  color: rgb(222, 222, 222);
  max-height: 300px;
  overflow-y: auto;
  z-index: 10;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  background-color: #4f4f4f84;
  border: 1px solid rgb(255, 255, 255);
  border-bottom: 0;
  border-top: 0;

  scrollbar-color: rgb(57, 57, 57) #4f4f4f84;

  @media screen and (min-width: 768px) {
    right: 6.2%;
  }

  @media screen and (min-width: 1024px) {
    right: 21.8%;
  }

  @media screen and (min-width: 1280px) {
    right: 25%;
  }

  @media screen and (min-width: 1440px) {
    right: 25.15%;
  }

}

.countries-block.is-active {
  display: block;
}

.countries-list-menu li {
  transition: all 300ms ease;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid white;

  &:hover{
    color: rgb(255, 255, 255);
  }
}
