.hero-title {
    color: #DC56C5;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}

.hero-div-input{
    display: flex;
    gap: 100px;
    justify-content: center;
    padding-top: 30px;
}