.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000007f;
  opacity: 1;
  z-index: 11;
  overflow-y: scroll;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 85%;
  max-width: 930px;
  padding: 62px 30px;
  background-color: #fff;
  border-radius: 300px 0;
}

.btn-modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 35px;
  height: 35px;
  color: rgb(103, 0, 172);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}