.change-theme-btn {
  height: auto;
  margin: 17px;
  border-radius: 30px;
  padding: 5px 10px;
  margin-top: 24px;
  border: 1px solid rgb(255, 255, 255);
  background-color: transparent;
  color: rgb(255, 255, 255);
  backdrop-filter: blur(30px);
  transition: all 300ms ease;

  &:hover {
    background-color: #ffffff;
    color: #000000;
  }
}

body.light-theme .change-theme-btn {
  transition: all 300ms ease;

  &:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
  }
}

body.light-theme {
  background-image: url('../images/pic_white-mode.jpg');
  background-color: rgb(240, 240, 240);
  filter: contrast(90%);
}

body.light-theme .change-theme-btn {
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

body.light-theme .hero-action-element {
  background-color: #d6d6d6;

  &:hover {
    border: 1px solid black;
  }

  &::placeholder {
    color: #000000;
  }
}

body.light-theme .hero-action-element.focus {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid rgb(0, 0, 0);
  border-bottom: none;
}

body.light-theme #heroBtnCountry {
  color: #000000;
}

body.light-theme .countries-block {
  border: 1px solid rgb(0, 0, 0);
  background-color: #e3e3e384;
  color: rgb(0, 0, 0);
  scrollbar-color: rgb(221, 221, 221) #4f4f4f84;
  border-top: transparent;
}

body.light-theme .countries-list-menu li {
  border-bottom: 1px solid rgb(0, 0, 0);
}

body.light-theme .event-time,
body.light-theme .event-area {
  color: #000000;
}

body.light-theme .pagination-btn {
  color: #000000;
  border: 1px solid rgb(0, 0, 0);

  &:hover {
    color: rgb(255, 255, 255);
  }

  &.active {
    background-color: #dc56c5;
    color: rgb(255, 255, 255);
  }
}
